/*Descendant*/
article p{
    background-color: blue;
    color: white;
    padding: 20px;
}

/*Child*/

article > p {
    background-color: red;
}


/*General Sibling*/

article ~ p {
    background-color: purple;
    color: white;
    padding: 20px;
}

/*Adjacent Sibling*/

article + p {
    background: orange;
}

/*input:in-range {
    border: 3px solid green;
}*/

/*input:out-of-range {
    border: 3px solid red;
}*/

/*input:required {
    background-color: burlywood;
}*/

input:focus {
    background-color: yellow;;
}

span:first-of-type {
    background: balck;
    color: white;
    padding: 10px;
}

/*span::first-letter {
    color: red;
}*/

/*input:invalid {
    border: 2px solid red;
}*/

input:valid{
    border: 2px solid green;
}

/*
    opacity: 0,5;
*/