.container {
    display: flex;
    background: #06206a;
}

.container div {
    background-color: white;
    margin: 10px;
    padding: 5px;
    font-size: 10px;
}

.container div:nth-child(1) {
    order: 2;
}

.container div:nth-child(2) {
    order: 3;
}

.container div:nth-child(3) {
    order: 0;
}

.container div:nth-child(4) {
    order: 1;
}

.container2 {
    display: flex;
    background-color: #06206a;
    flex-direction: row-reverse;
}

.container2 div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

container3 {
    display: flex;
    background-color: #06206a;
    flex-direction: column-reverse;
}

.container3 div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container3 div:nth-child(1) {
    flex-grow: 4;
}

.container4 {
    display: flex;
    background-color: #06206a;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.container4 div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 60%;
}

.container5 {
    display: flex;
    background-color: #06206a;
    flex-direction: row;
    justify-content: center;
}

.container5 div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}

.container5 div:nth-child(2) {
    align-self: flex-end;
}