ul {
    /*list-style-type: circle;
    list-style-type: square;
    list-style-image: url("../images/text.png");*/

    list-style-type: none;
    padding: 0;
    border: 2px solid grey;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid grey;
}

ol {
    /*list-style-type: upper-roman;
    list-style-type: lower-roman;*/

    background-color: #ffe5e5;
    padding: 15px;
}

ol li {
    background-color: #ffe5e5;
    padding: 10px;
    margin-left: 30px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #eee;
    padding: 15px;
}

tbody tr:nth-child(odd) {
    background-color: #ff33cc;
}

tbody tr:nth-child(even) {
    background-color: #e495e4;
}

thead {
    background-color: palevioletred;
}

div {
    overflow: scroll; /*auto, hidden, visible*/
    background-color: #f27979;
    width: 200px;
    height: 200px;
}